@font-face {
    font-family: CairoFont;
    src: url(../Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

*{
    margin : 0;
    padding: 0;
    font-family: CairoFont;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    direction: rtl;
    min-height: 100vh;
    width: 100%;
}
.open_menu{
    display: none;
    width: 48px;
}
.close_menu{
    width: 40px;
    display: none;
}
header{
    background-color: rgba(255, 255, 255, 0.905);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* position:sticky; */
    /* top: 0; */
    width: 100%;
    padding: 10px 25px;
}

header .logo{
    transition: 0.4s;
    width: 95px;
}
header .logo:hover{
    opacity: 0.6;
    
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation li{
    margin-right: 15px;
}

.navigation li a{
    border: rgb(13, 133, 59) solid 2px;
    background-color:   rgb(13, 133, 59);
    border-radius: 1px;
    padding: 5px 10px;
    transition: 0.4s ease-in-out;
    color: white;
    font-weight:600;

}


.navigation li a:hover{
    background: none;
    color:  rgb(13, 133, 59);
}




.slide{
    background: linear-gradient(rgba(0, 0, 0, 0.723), rgba(0, 0, 0, 0.806)), url(../images/advices.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.slide h2{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 4em;
    color: white;
    margin-bottom: 30px;
}

.slide .slide-more{
    background-color: white;
    padding: 0.4rem 1.5rem;
    border-radius: 2rem;
    margin-top:10px;
    border: white solid 1px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.slide .slide-more:hover{
    border: white solid 1px;
    background: none;
    color: white;
}

.swipe-down{
    border: 20px solid ;
    border-color:  transparent transparent white transparent;
    /* border-radius: 50%; */
    margin-top: -10px;
    animation: swipe-down infinite ease-out 0.8s alternate;
}
@keyframes swipe-down {
    to{
        transform: translateY(10px);
    }
}


.advices{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.topic{
    text-align: center;
}
.line{
    background-color: rgb(13, 133, 59);
    width: 60px;
    height: 5px;
    border-radius: 1rem;
    margin: -1.2rem auto 0;
    /* display: flex;
    justify-self: center; */
    /* margin: -20px auto 35px; */
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.156); */
    background: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.881)), url(../images/cover_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 2.5rem 0 0;
    padding: 2rem 1rem 4rem;
    flex-wrap: wrap;
}

.cards .card{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: 1rem;
    height: max-content;
    border-radius: 1rem;
    overflow: hidden;

}


.cards .card .card-header{
    background-color:  rgb(242, 242, 242);
    width: 100%;
    position: relative;
}

.cards .card .parag{
    padding: 1rem;
    font-weight: 500;
    border: 1px solid  rgb(14, 212, 44);
    background-color: white;
    display: none;
    width: 100%;
    animation :transition_parag 0.4s ease-in-out ;
}

@keyframes transition_parag {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.card .btn-show{
    border: none;
    width: 2rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(66, 252, 4);
    cursor: pointer;
}

.card .btn-hide{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2rem;
    background: rgb(66, 252, 4);
    cursor: pointer;
    display: none;
}


#contact-bg{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.736);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;

}

#contact{
    position: relative;
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    animation: scale_contact 0.4s ease-in-out;
}

@keyframes scale_contact {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

#contact-close{
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}


#contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h1{
    font-size: 1.5rem;
    margin: 15px 0;
    align-self: start;

}
#contact input, #contact textarea{
    width: 100%;
    padding: 5px;
    /* margin: px 0; */
}

#form-btn{
    background-color: rgb(20, 211, 74);
    border: 1px solid rgb(20, 211, 74);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
    width: 100%;
    margin-top:15px;
}
#form-btn:hover{
    background: none;
    color:  rgb(20, 211, 74);
}

#sent-message{
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    animation: 0.4s ease-in-out message_sent;
    display: none;
}

@keyframes message_sent {
    0%{
        transform : scale(0);
    }
    100%{
        transform : scale(1);
    }
}


footer{
    margin-top: -2rem;
    direction: ltr;
    padding: 6rem 5px 2px;
    /* background: linear-gradient(90deg, rgb(10, 221, 189), rgb(0, 255, 85), rgb(5, 109, 34)); */
    background: linear-gradient(rgba(0, 0, 0, 0.723), rgba(0, 0, 0, 0.806)), url(../images/advices.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer_names{
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.footer_names h5{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2px 4px  ;
}

.footer_logo{
    border-radius: 50%;
    width: 200px;
    height: 180px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    

}

.footer_logo img{
    /* width: 90%; */
    width: 75%;

}












@media screen and (max-width:467px){
    .navigation{
        position: absolute;
        height: 50%;
        right: -100%;
        top: 86px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.859);
        display: block;
        transition:  0.4s ease-in;
        display: none;
    }

    .navigation li{
        margin: 4rem 0;
        text-align: center;
    }
    .navigation li a{
        border-radius: 30px;
        padding: 0 40px;
    }
    
    .open_menu{
        display: block;
        cursor: pointer;
        transition: 0.1s ease-in;
    }

    .navigation.active{
        display: block;
        right: 0;
    }

    header .active_icon{
        background-color: rgba(0, 0, 0, 0.345);
        border-radius: 15px;
    }
    
    .navigation.active::before{
        content: "";
        border-color: transparent transparent rgba(0, 0, 0, 0.898);
        border-width: 19px;
        border-style: solid;
        position: absolute;
        top: -37px;
        left: 31px;
    }

    .slide h2{
        font-size: 3rem;
    }

    .cards .card{
        width: 90%;
    }
}

@media screen and (min-width:467.1px) and (max-width:768px) {
    .slide h2{
        font-size: 3rem;
    }

    .cards .card{
        width: 70%;
    }
}